/*signin-button********************/
.signin-button, .signin-button:link, .signin-button:visited {
  background-color: transparent;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 5px;
  border: 1px solid #000;
  position: relative;
  cursor: pointer;
  transition: 0.3s background-color; }
.signin-button:hover, .signin-button:active {
  background-color: #96c67f; }

.btn-close:focus {
  box-shadow: none;
  outline: none; }

.btn-green {
  background-color: #96c67f;
  padding: 12px 20px;
  border: none; }

.btn-green:link,
.btn-green:hover {
  background-color: transparent;
  border: 1px solid #4b6340;
  background-color: #fff; }

.card {
  padding: 0;
  border-radius: 30px;
  overflow: hidden; }
  @media screen and (max-width: 991px) {
    .card {
      margin-bottom: 2rem; } }
  .card .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover; }
    @media screen and (max-width: 991px) {
      .card .card-img-top {
        height: 40vw; } }
    @media screen and (max-width: 767px) {
      .card .card-img-top {
        height: 60vw; } }
  .card .card-body .card-text {
    font-size: 14px;
    color: #9b948e; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  max-width: 90%;
  margin: auto;
  background-color: #eee8e2;
  text-transform: capitalize; }

/** NavBar */
.navbar {
  background-color: #fff;
  height: 80px;
  margin: 20px;
  border-radius: 16px;
  padding: 0.5rem; }
  @media screen and (max-width: 991px) {
    .navbar {
      background-color: #eee8e2; } }

.navbar-toggler {
  border: none;
  font-size: 1.25rem; }
  .navbar-toggler:focus, .navbar-toggler.btn-close:focus {
    box-shadow: none;
    outline: none; }

/*nav-link*/
.nav-link:link,
.nav-link:visited {
  color: #000;
  font-weight: 500;
  position: relative; }
  @media screen and (max-width: 991px) {
    .nav-link:link,
    .nav-link:visited {
      font-size: 1.2rem;
      color: #fff; } }
  .nav-link:link:hover, .nav-link:link:active,
  .nav-link:visited:hover,
  .nav-link:visited:active {
    color: #4b6340; }
    @media screen and (max-width: 991px) {
      .nav-link:link:hover, .nav-link:link:active,
      .nav-link:visited:hover,
      .nav-link:visited:active {
        display: block;
        background-color: #eee8e2;
        color: #4b6340 !important;
        font-weight: 600; } }
  @media screen and (min-width: 992px) {
    .nav-link:link::before,
    .nav-link:visited::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: #96c67f;
      visibility: hiddn;
      transition: 0.3s ease-in-out; }
    .nav-link:link:hover::before, .nav-link:link:active::before,
    .nav-link:visited:hover::before,
    .nav-link:visited:active::before {
      width: 100%;
      visibility: visible; } }

.offcanvas {
  background-color: #474644; }
  @media screen and (max-width: 568px) {
    .offcanvas {
      max-width: 80%; } }

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem; }

.hero {
  margin-top: 10rem; }
  .hero__flex {
    padding: 0 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    position: relative; }
    @media screen and (max-width: 767px) {
      .hero__flex {
        flex-direction: column; } }
    .hero__flex-icon {
      position: absolute;
      top: 200px;
      right: -20px; }
      @media screen and (max-width: 767px) {
        .hero__flex-icon {
          top: 90px;
          width: 50px;
          right: -8px; } }
    .hero__flex-box-text {
      background-color: #fff;
      width: 200px;
      text-align: center;
      padding: 10px;
      border-radius: 20px;
      position: absolute;
      bottom: 5%;
      right: 20%; }
      .hero__flex-box-text p {
        margin: 0; }
      @media screen and (max-width: 767px) {
        .hero__flex-box-text {
          bottom: 52%;
          right: 55%;
          padding: 5px; } }
      @media screen and (max-width: 568px) {
        .hero__flex-box-text {
          bottom: 73%;
          right: 65%;
          width: 128px; }
          .hero__flex-box-text p {
            font-size: 12px !important; } }
      .hero__flex-box-text .p-2 {
        color: #9b948e; }
  .hero__box-img img {
    width: 100%;
    height: 500px;
    display: block;
    border-radius: 50%; }
    @media screen and (max-width: 767px) {
      .hero__box-img img {
        height: auto; } }
  @media screen and (max-width: 767px) {
    .hero__content {
      width: 100%;
      text-align: center; } }
  .hero__content h1 {
    font-size: 3.3rem;
    text-shadow: 2px 2px 2px #242424;
    line-height: 1.5;
    margin-bottom: 12px;
    color: #000; }
    @media screen and (max-width: 991px) {
      .hero__content h1 {
        font-size: 2.3rem; } }
  .hero__content p {
    font-size: 1.4rem;
    margin-bottom: 12px; }
    @media screen and (max-width: 767px) {
      .hero__content p {
        font-size: 1.2rem; } }

/*press**/
.container-press {
  padding: 5rem 5rem 0 5rem; }

.press {
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 767px) {
    .press {
      flex-direction: column; } }
  .press__logo {
    width: 150% !important;
    margin: 20px 20px 50px; }
    @media screen and (max-width: 767px) {
      .press__logo {
        width: 60%; } }

/*# sourceMappingURL=style.css.map */
