/** NavBar */
.navbar {
  background-color: #fff;
  height: 80px;
  margin: 20px;
  border-radius: 16px;
  padding: 0.5rem;
  @include lg {
    background-color: $color-back-g;
  }
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
  &:focus,
  &.btn-close:focus {
    box-shadow: none;
    outline: none;
  }
}

/*nav-link*/
.nav-link:link,
.nav-link:visited {
  color: #000;
  font-weight: 500;
  position: relative;
  @include lg {
    font-size: 1.2rem;
    color: #fff;
  }
  &:hover,
  &:active {
    color: $color-dark-green;
    @include lg {
      display: block;
      background-color: $color-back-g;
      color: $color-dark-green !important;
      font-weight: 600;
    }
  }
  @include xl {
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: $color-green;
      visibility: hiddn;
      transition: 0.3s ease-in-out;
    }
    &:hover::before,
    &:active::before {
      width: 100%;
      visibility: visible;
    }
  }
}

.offcanvas {
  background-color: #474644;
  @include sc {
    max-width: 80%;
  }
}
